.hide {
    display: none;
}
.one{
    padding: 15px;
    border: 1px solid #252525;
    max-width: 400px;
    width: 100%;
}
.item_form{
    // margin: 0 auto;
    margin-top: 25px;
    width: 400px;
    height: 400px;
    border: 1px solid red;
}